<div data-role="page" data-theme="a">

  <div data-role="header" data-position="inline">
    <h1>Dialog page</h1>
   
  </div>

  <div data-role="content">
   <div data-role="dialog" id="dialog" data-url="dialog" tabindex="0" class="ui-page ui-body-c ui-overlay-a ui-dialog ui-page-active" role="dialog" style="min-height: 353px; "><!-- dialog-->

        <div data-role="header" data-theme="e" class="ui-corner-top ui-overlay-shadow ui-header ui-bar-e" role="banner"><a href="#" data-icon="delete" data-iconpos="notext" class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-e" title="Close" data-theme="e"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Close</span><span class="ui-icon ui-icon-delete ui-icon-shadow"></span></span></a>
          <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Ta-da!</h1>
        </div><!-- /header -->

        <div data-role="content" data-theme="e" class="ui-overlay-shadow ui-corner-bottom ui-content ui-body-e" role="main">
          <p>That was an animated page transition effect that we added with a <code>data-transition</code> attribute on the link.</p>
          <p>Since it uses CSS transforms, this should be hardware accelerated on many mobile devices.</p>
          <p>What do you think?</p>
          <a href="page.html" data-role="button" data-theme="b" data-rel="back" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">I like it</span></span></a>   
        </div>
      </div>
  </div>
</div>
</div>